@font-face {
  font-family: "Lato";
  src: url(fonts\Lato\Lato-Regular.ttf);
  format: ("ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  border: 2px red; /* add solid between 2px and red to turn the border on for box model*/
  font-family: "Lato", sans-serif;
}

.landing_page_title {
  /* italian phrasebook title page */
  color: red;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 5px;
  font-size: 50px;
  padding: 30px;
}

.page_links {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 5px;
}

.landing-desc {
}

.italyflag1 {
}
